body {
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

button {
  background-color: black;
  color: white;
  padding: 8px;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
  margin-left: 10px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    background-color: gray;
  }
}

input {
  padding: 5px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 1px;
  font-size: 13px;
}

.convert {
  &-area {
    padding: 10px;
  }

  &-buttons {
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(187, 187, 187);
  }
}

.nav {
  background-color: black;
  padding: 20px;

  a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

@media print {
  .convert-area, .hide-print{
    display: none;
  }
}
